<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>테트리스 온라인</title>
</head>
<body>
  {% block top %}
    {% include "navbar.html" %}
  {% endblock %}

  <div class="grid grid-cols-4">
    <div class="p-2 h-auto border-slate-200 bg-slate-500 col-span-2">
      {% block mid %}
 
      {% endblock %}
    </div>
    <div class="p-2 h-auto border-black bg-slate-300 col-span-2">
      {% if user %}
      <div>
        <label id="myNick">{{user.nick}}</label>
        <input id="myMsg" type="text">
        <button onclick="myMsgSend()" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full">전송</button>
      </div>
      {% endif %}
      <div>전체 채팅방</div>
      <textarea readonly id="chat-log" style="height:400px; width:100%"></textarea>
    </div>
  </div>
  <script>
    document.addEventListener('keyup', (e)=>{
      if(e.keyCode == 13) myMsgSend();
    })
    const ws = new WebSocket("ws://10.94.121.10:3001");
    const myNick = document.querySelector('#myNick').innerHTML;
    const $myMsg = document.querySelector('#myMsg');
    const $chatLog = document.querySelector('#chat-log');
    
    const myMsgSend = () =>{
      const myMsg = {nick : myNick, msg : $myMsg.value};
      ws.send(JSON.stringify(myMsg));
      $myMsg.value="";
    }
    
    const receiveMsg = (e) =>{
      const msg = JSON.parse(e.data)
      $chatLog.innerHTML += `${msg.nick} : ${msg.msg}\n` ;
      $chatLog.scrollTop = $chatLog.scrollHeight;
    }
    ws.onmessage = receiveMsg;


  </script>
  
  {% block bot %}
    {% include "footer.html" %}
  {% endblock %}

</body>
</html>