{% extends "index.html" %}  

{% block mid %} 
<style>
  body{
    background-color:#737373;
  }
  *{
    margin:0;
    padding:0;
  }
  .canvas_wrap>*{
    display:block;
    margin:0 auto;
    border: 1px solid #ffffff;
  }
  .button{
    align-items: center;
    font-family:Courier;
    font-size:30px;
    font-weight:bold;
    border:none;
    background-color:#ffffff;
    color:#000000;
  }
</style>

  <div class="grid grid-cols-2 items-center">
    <div class="canvas_wrap">
      <canvas id="tetris1" width="240" height="400"></canvas>
    </div>
    <div class="canvas_wrap">
      <canvas id="tetris2" width="240" height="400"></canvas>
    </div>
  </div>
  <center>
    <button class="button" type="button" id="start_game">Start</button>
  </center>

<script type="text/javascript" src="/static/scripts/tetris_single.js"></script>
{% endblock %}